body {
  align-items: center;
  background-color: #9d8eb6;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 98vh;
  justify-content: center;
}

.container {
  background-color: #f5f5f5;
  border-radius: 30px;
  height: 100%;
  padding: 8px 30px;
  width: 80%;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 24px;
  text-align: center;
}

div {
  margin: 24px 0;
}

input {
  font-size: 28px;
  padding: 8px;
}

.busca {
  width: 70%;
}

.id {
  width: 50%;
}

.btn {
  background-color: #a9a2ec;
  font-size: 32px;
  font-weight: bold;
  padding: 8px;
}

.btn:hover {
  background-color: rgb(123, 120, 155);
  color: #ffffff;
  cursor: pointer;
}

label {
  font-size: 32px;
  margin: 16px 0;
}

table {
  border: 1px solid black;
  text-align: center;
  width: 85%;
}

th {
  background-color: #ccc;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

